html,body
{
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	margin: 0px;
	padding: 0px;
}
.navbar-custom
{
	height: 100%;
	width: 65px;
	display: inline-block;
	background-color: #131F25;
	border-right:1px solid #131F25;
	text-align: center;
	color: white;
	position: fixed;
}
.navbar-custom .header
{
	font-size: 35px;
	padding-top: 10px;
	color: #1F1F1F;
	background-color: #FDCA40;
	padding-bottom: 10px;
	border-bottom: 1px solid #FDCA40;
}
.menu
{
	margin-top: 10vh;
	padding-top:10vh;
	padding-bottom:10vh;
	color:#EDEDED;
	transition: all 300ms;
}
.menu a
{
	color:#EDEDED;
	text-decoration: none;
}
.menu a:hover
{
	text-decoration: none;
}
.menu-item
{
	margin-bottom: 20px;
}
.menu-item i
{
	transition: all 300ms;
}
.menu-item p
{
	font-size: 10px;
	margin-top: 5px;
	transition: all 300ms;
}
.menu-item:hover i, .menu-item:hover p
{
	color:#FF6A6A;
}
.footer
{
	position: absolute;
	width: 65px;
	bottom: 0px;
	left: 0px;
}
.footer a
{
	color:#EDEDED;
	text-decoration: none; 
}
.footer a:hover, .footer a:focus
{
	text-decoration: none; 
}
.main-cont
{
	width: calc(100% - 65px);
	height: 100%;
	display: inline-block;
	float: right;
}
/*#####################################*/
.mainview
{
	height: 100%;
	width: 100%;
	background-image: url(../images/bg.jpg);
	background-size: cover;
	background-position: fixed;
	background-repeat: no-repeat;
	text-align: center;
}
.clip-text h1
{
	font-size: 65px;
	font-weight: bolder;
}
.clip-text h1
{
	color: #fff;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url('../images/bg6.jpg')!important;
    background-size: auto 500px !important;
    -webkit-animation-name:marquee !important;
    -webkit-animation-iteration-count:infinite !important;
    -webkit-animation-duration:10s !important;
    -webkit-animation-direction: alternate !important;
    -webkit-animation-timing-function: linear !important;

}
@-webkit-keyframes marquee {
  0% 
  {
    background-position: 0;
  }

  33% 
  {
    background-position: -100px;
  }
  66%
  {
   background-position: -100px 50px;	
  }
  100%
  {
   background-position: 0px 0px;	
  }
}
.hr
{
	border: 0px;
	border-bottom: 2px solid #223843;
	width: 30%;
}
.specification
{
	font-family: 'Comfortaa', cursive;
	font-size: 20px;
	letter-spacing: 7px;
	word-spacing: 15px;
}
.btn-sml
{
	background-color: transparent;
	border: 2px solid #223843;
	font-family: 'Comfortaa', cursive;
	font-size: 15px;
	padding: 10px;
	border-radius: 1px;
	margin-top: 20px;
	transition:all 0.4s;
}
.btn-sml:focus
{
	outline: none;
}
.btn-sml:hover
{
	background-color: #223843;
	color: white;
}
.quote
{
	font-family: 'Caveat', cursive;
	font-size: 20px;
	margin-top: 50px;
	color: #454545;
}
.mainview-2
{
	background-color:#101b21;
	min-height: 100%;
	padding: 20px;
	color: white;
}
.mainview-2 h1
{
	font-family: 'Comfortaa', cursive !important;
	word-spacing: 20px;
	letter-spacing: 10px;
	font-size: 25px;
}
.round-circle
{
	height: 30px;
	width: 30px;
	border:7px solid #1874CD;
	border-radius: 10px;
	display: inline-block;
}
.profile-cont
{
	padding: 30px;
	font-size: 18px;
	font-family: 'Comfortaa', cursive !important;
	line-height: 40px;
}
.lg-m
{
	font-family: 'Comfortaa', cursive !important;
	font-size: 60px;
	color: white;
}
.lg-m font
{
	color: #FF6A6A;
}
.xlg
{
	font-family: 'Comfortaa', cursive !important;
	font-size: 100px;
	font-weight: bold;
	color: white;
}
@media only screen and (max-width: 950px) 
{
	.lg-m
	{
		font-size: 40px;
	}
	.xlg
	{
		font-size: 60px;
	}
}
@media only screen and (max-width: 700px)
{  .specification
	{
		word-spacing: 0px !important;
	}

	.lg-m, .xlg
	{
		display: none !important;
	}
	.menu-content
	{
		margin-top: 30px;
	}
}
.work
{
	text-align: center;
	color: white;
	font-size: 15px;
	word-spacing: 5px;
	letter-spacing: 1px;
}
.work h4
{
	color: #D77A61;
}
.work img
{
	width: 70%;
	margin-top: 10px;
	margin-bottom: 20px;
	border: 2px solid white;
	padding: 10px;
}
.work p
{
	font-size: 13px;
	word-spacing: 5px;
	letter-spacing: 1px;
	margin-top: 20px;
}